*{
	margin:0;
	padding:0;
	box-sizing:border-box; 

}

body{

	background-image:radial-gradient(rgba(247,148,90),rgba(241,160,105));

}

.container{
	height:660px;
	display:flex;
	justify-content:center;
	//border:1px solid red;
	align-items:flex-end;
}

#door_sound{
	display:none;
}

.container_door{
width:auto; 
display:flex;
flex-direction:row;
justify-content:center; 
background:orange;
position:absolute;
float:left;
margin:auto;
cursor:pointer;
background-color:rgba(0,0,0,.9);
border:10px solid #B7976D;
border-bottom:none;
box-shadow:2px 0px 2px rgba(0,0,0,.5),-2px -2px 2px rgba(0,0,0,.5)

}

.door_cont{
	width:;
	height:auto;
	//border:2px solid grey;   
}


.fixed_door_rt,.fixed_door_lt,.active_door_lt,.active_door_rt{

	width:200px;
	height:450px;
	background-color:skyblue;
	border:10px solid white;
	border-radius:2px;
	//margin-left:10px;
	position:relative;
	display:flex;
	align-items:center;
    box-shadow:0px 0px 2px rgba(0,0,0,.5);

}
.fixed_door_rt,.fixed_door_lt{
	z-index:3;
	//box-shadow:3px 2px 2px rgba(0,0,0,.5);
}

.fixed_door_rt{
//box-shadow:-3px 2px 2px rgba(0,0,0,.5); 
}



.active_door_lt{

	justify-content:flex-end;
	
}
.active_door_rt{

	justify-content:flex-start;
	
}

.active_door{
//transform-origin:right; 
//transform:perspective(800px) rotateY(88deg);
position:relative;
//left:50px;
z-index:2; 
}

.handle_rt,.handle_lt{

width:16px;
height:50px;
background-size:cover;
//border:1px solid blue;  

}
.handle_rt{
background-image:url("h1.png");
}
.handle_lt{
background-image:url("h2.png");

}